{% load static %}

<script src="{% static 'scripts/main.js' %}" type="text/javascript"></script>
<script defer>
    $(document).ready(function() {
        $("a.watch-list-submit").click(function(event){
            url = '{% url "movie_api:add_to_watch_list" movie_pk %}';
            data = {};
            handleAddToWatchList($, url, data, '{{ movie_pk }}');
        });
    });
</script>

<div>
  {% csrf_token %}
  {% if request.session.user %}
      <a class='watch-list-submit' style="color:inherit;" href='javascript:;'>
        {% if in_watch_list %}
            <i class="plus bi bi-plus-circle-fill watch-list-added"></i>
        {% else %}
            <i class="plus bi bi-plus-circle watch-list-not-added"></i>
        {% endif %}
      </a>
    {% else %}
      <a href="{% url 'movie_api:login' %}" style="color:inherit;">
        <i class="plus bi bi-plus-circle watch-list-not-added"></i>
        </a>
    {% endif %}
</div>