{% load static %}

<script src="{% static 'scripts/main.js' %}" type="text/javascript"></script>
<script defer>
    $(document).ready(function() {
      $("a.submit").click(function(event){
            url = '{% url "movie_api:check_movie" movie_pk %}';
            data = {};
            handleCheck($, url, data);
        });
    });
</script>

<div>
  {% csrf_token %}
    {% if request.session.user %}
      <a class='submit' style="color:inherit;" href='javascript:;'>
        {% if movie_checked %} 
            <i class="check-box bi bi-check-square-fill watched-movie"></i>
        {% else %}
            <i class="check-box bi bi-check-square unwatched-movie"></i>
        {% endif %}
      </a>
    {% else %}
      <a href="{% url 'movie_api:login' %}" style="color:inherit;">
        <i class="check-box bi bi-check-square unwatched-movie"></i>
      </a>
    {% endif %}
</div>