{% load static %}
<script src="{% static 'scripts/main.js' %}" type="text/javascript"></script>
<script defer>

    $(document).ready(function() {
        $("a.rating-star").click(function(event) {
            url = '{% url "movie_api:save_rating" movie_pk %}'
            rating = $(this).attr('data-rating');
            // if user clicked the maximum rated star, we are going to deactivate all the active stars.
            if ($(this).is($('i.active_star').last().parent())) {
                rating = -1;
            }
            data = {rating:rating};
            handleRating($, url, data);
        });
    });
</script>

{% load my_template_tags %}
{% for i in 5|times %}
    {% if request.session.user %}
    <a class="rating-star" data-rating="{{i}}">
        {% csrf_token %}
        {% if i <= rating %}
            <i class="bi bi-star-fill star active_star"></i>
        {% else %}
            <i class="bi bi-star-fill star"></i>
        {% endif %}
    </a>
    {% else %}
        <a href="{% url 'movie_api:login' %}" style="color:inherit;">
            <i class="bi bi-star-fill star"></i>
        </a>
    {% endif %}
{% endfor %}
