{% load my_template_tags %}

{% for i in 5|times %}
    {% if request.session.user %}
    <a class="rating-star" data-rating="{{i}}">
        {% csrf_token %}
        {% if i <= rating %}
            <i class="bi bi-star-fill star active_star"></i>
        {% else %}
            <i class="bi bi-star-fill star"></i>
        {% endif %}
    </a>
    {% else %}
        <a href="{% url 'movie_api:login' %}" style="color:inherit;">
            <i class="bi bi-star-fill star"></i>
        </a>
    {% endif %}
{% endfor %}

<script defer>
    $(document).ready(function() {
        $("a.rating-star").click(function(event) {
            // if user clicked the maximum rated star, we are going to deactivate all the active stars.
            if ($(this).is($('i.active_star').last().parent())) {
                saveRatingAjaxCall(-1);
            } else {
                saveRatingAjaxCall($(this).attr('data-rating'));
            }
        });
    });
    
    function saveRatingAjaxCall (rating) {
        $.ajax({
                type: 'POST',
                url: '{% url "movie_api:save_rating" movie_pk %}',
                data: {
                rating: rating,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function(json) {              
                    // if user tries to rate movie before checking it, we display a message.
                    if (! json['movie_checked']) {
                        $("p.check-before-rating-message").remove();
                        var message = $("<p class='check-before-rating-message'></p>").text("Check the movie before rating.");
                        $(".error-message").append(message);
                        message = null;
                    } else {
                        $("p.check-before-rating-message").remove();

                        // making all the stars inactive when user clicks the maximum rated star.
                        if (rating == -1) {
                            $('i.active_star').removeClass('active_star');
                        // user has clicked a star other than the maximum rated star.
                        } else {
                        const stars = document.querySelectorAll(".stars i");
                        stars.forEach((star, index) => {
                                index <= rating ? star.classList.add("active_star") : star.classList.remove("active_star");
                            })
                        }
                    }
                }
            })
    }
</script>
