{% load static %}
<link rel="stylesheet" href="{% static 'styles/misc.css' %}">

<div class="dropdown">
    <button onclick="openDropdown()" class="dropbtn">{{ first_letter_of_name }}</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="{% url 'movie_api:logout' %}">Logout</a>
    </div>
  </div>

<script>
    function openDropdown(){
        document.getElementById('myDropdown').classList.toggle("show");
    }

        // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
</script>